<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../static/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Justin's Survey</h1>
<h3>Complete the form below</h3>
    <form action='/result' method='post'>
    Name: <input type="text" name='name'>
    <input type='submit' value='result'>
    </form>
</body>
</html>