<h1>Dojo Survey</h1>
{% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
{% endwith %}

<form action="/survey" method="POST">
<p>First Name <input type="text" name="fname"></p>
<p>Last Name <input type="text" name="lname"></p>
<p>Location 
    <select name="loc">
        <option value="Berkely"> Berkely </option>
        <option value="San Jose"> San Jose </option>
        <option value="Chicago"> Chicago </option>
    </select>
</p>
<p>Favorite Language
    <select name="fav">
        <option value="JavaScript">JavaScript</option>
        <option value="Python">Python</option>
        <option value="Ruby On Rails">Ruby On Rails</option>
    </select>
    </p>
    <p>Comments: <input type="text" name="comment"></p>
<input type="submit" value="View Results">
</form>