<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/hotspring/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <title>Home</title>
</head>
<header>
    <h1 class="header">About Me</h1>
    <p class="logged_in">Logged in as first.name <a href="/logout">Logout</a></p>
    <nav class=" nav">
        <a class="nav-link" href="/home">Home</a>
        <a class="nav-link" href="/find">Discover</a>
        <a class="nav-link" href="/community">Community</a>
        <a class="nav-link" href="/news">News</a>
        <a class="nav-link" href="/about_me">About</a>
        </div>
    </nav>
</header>

<body>
    <div id="container">
        <div class="me_content">
            <h4 class=>Justin Burnett</h4>
            <p>I do cool stuff I am making websites now.. I'm a world traveler, professional fire performer, ESL English Teacher, Thai massage therapist, US combat veteran, and now a web developer, I guess. I love hot springs, I search them out everywehre I travel, and spend hours in their healing waters. I never say no
                to adventure and the only consitency in my life is inconsistency. </p>
            <img id="me" src="../../static/hotspring/about_me.jpg">

            <form type="input" method="POST">
                <div class="form-group">
                    <textarea class="form-control" rows="4" placeholder="Send me a message..."></textarea>
                    <input class="btn btn-primary" type="button" type="submit" value="Send">
                </div>
            </form>
        </div>
    </div>
</body>