<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/hotspring/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var city = $('#city').html();
            $.get(`http://api.openweathermap.org/data/2.5/weather?q=${city}&appid=0f508ba0bda4f2abaf1dc3ab937fb785`, function (res) {
                console.log(res); ''
                $('#temperature').html(Math.floor((res.main.temp - 273.15) * (9/5) + 32))
                $('#conditions').html(res.weather[0].description)
                $('#message').show()
            })
        })         
    </script>
</head>
<header>
    <h1 class="header">Community</h1>
    <p class="logged_in">Logged in as {{first.name}} <a href="/logout">Logout</a></p>
    <nav class=" nav">
        <a class="nav-link" href="/home">Home</a>
        <a class="nav-link" href="/find">Discover</a>
        <a class="nav-link" href="/community">Community</a>
        <a class="nav-link" href="/news">News</a>
        <a class="nav-link" href="/about_me">About</a>
        </div>
    </nav>
</header>

<body>
    <div></div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col-md-2">Hot Springs</th>
                <th scope="col-md-2">City</th>
                <th scope="col-md-2">State</th>
                <th scope="col-md-2">Country</th>
                <th scope="col-md-2">Last Updated</th>
                <th scope="col-md-2">Weather</th>
            </tr>
        </thead>
        {% for hotspring in all_hotsprings  %}

        <tbody>
            <tr>

                <td class="col-md-2">{{hotspring.name}}</td>
                <td class="col-md-2"><span id="city">{{hotspring.city}}</span></td>
                <td class="col-md-2">{{hotspring.state}}</td>
                <td class="col-md-2">{{hotspring.country}}</td>
                <td class="col-md-2">{{hotspring.updated_at}}</td>
                <td class="col-md-2"><span id="temperature"></span> <span id="conditions"></span></td>
                <td><a href="/view/{{hotspring.id}}">View</a></td>

            </tr>
        </tbody>
        {% endfor %}
    </table>
    <div class="container">
        <h3 class="messages_head">Messages</h3>
        <form action="/send_message" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label class="label" for="message">Send a Message:</label>
                <textarea class="form-control" rows="2" placeholder="Type here..." name="message"></textarea>
            </div>
            <div class="form-group">
                <input type="hidden" value="{{message.id}}">
                <input class="btn btn-primary" type="submit" value="Send Message">
        </form>
    </div>
    <div class="container">
        <d {% for message in all_messages %} <h5 class="messages_head">Message from {{message.user.first_name}}</h5>
            <p class="messages">{{message.message}}</p>
            <a href="delete_message/{{message.id}}">'Delete Message'</a>
            <div class="form-group">
                <form action="send_comment" method="POST">
                    {%csrf_token%}
                    <label class="label" for="comment">Post a Comment:</label>
                    <textarea class="form-control" rows="2" placeholder="Type here..." name="comment"></textarea>
            </div>
            <input type="hidden" name="message_id" value="{{message.id}}">
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Post Comment">
            </div>
            </form>
    </div>
    <div class="comment_div">
        {% for comment in all_comments %}
        {% if comment.message.id == message.id %}
        <p class="social">{{comment}}</p>
        <p class="messages_head">Comment from {{comment.user.first_name}}: <span class="social">
                {{comment.comment}}</span></p>
        <a href="/delete_comment/{{comment.id}}">Delete Comment</a>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
    </div>
</body>

</html>