<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/hotspring/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <title>Home</title>
</head>
<div id="container">
    <header>
        <h1 class="header">News & Information</h1>
        <p class="logged_in">Logged in as {{first.name}} <a href="/logout">Logout</a></p>
        <nav class=" nav">
            <a class="nav-link" href="/home">Home</a>
            <a class="nav-link" href="/find">Discover</a>
            <a class="nav-link" href="/community">Community</a>
            <a class="nav-link" href="/news">News</a>
            <a class="nav-link" href="/about_me">About</a>
</div>
</nav>
</header>

<body>

    <div class="container">

        <div class="news">
            <h6 class="news_content">7 hot springs in the US</h6>
            <p class="news_content"> "There are few things more relaxing than soaking in a natural hot spring while you
                take in the incredible scenery. These waters are perfect for easing sore muscles, relaxing your mind and
                soothing your soul. Here are seven incredible hot springs in the United States to visit in 2019."</p>

            <img class="news_spring" src="../../static/hotspring/news_spring.jpg" alt="Natural Hot Springs">
            <a href="https://blog.thediscoverer.com/7-essential-hot-springs-in-the-u-s/" target="_blank">Learn More</a>
        </div>

        <div class="news">

            <h6 class="news_content">The Colorado Historic Hot Springs Loop </h6>
            <p class="news_content"> A 720-mile driving tour of the state’s 19 diverse geothermal mineral springs, with
                stops in Buena Vista, Nathrop, Salida, Pagosa Springs, Ouray, Ridgway, Glenwood Springs and Steamboat
                Springs. Each Colorado hot springs destination offers visitors a one-of-a-kind experience. Explore vapor
                caves, hot pots, terraced pools, enormous travertine formations and fun-filled aquatic centers.</p>

            <img class="news_spring" src="../../static/hotspring/hot_spring_map.jpg" alt="Hot Springs Maps">
            <a href="https://www.ironmountainhotsprings.com/roadtrip-colorado-historic-hot-springs-loop/"
                target="_blank">Learn More</a>
        </div>
    </div>
</body>
</div>

</html>