<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../static/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <table>
        {% for x in range (0,xtimes,1) %}
        <tr>
            <td class="sq1"></td>
            <td class="sq2"></td>
            <td class="sq1"></td>
            <td class="sq2"></td>
            <td class="sq1"></td>
            <td class="sq2"></td>
            <td class="sq1"></td>
            <td class="sq2"></td>
        </tr>
        {% endfor %}
        </tr>
    </table>
</body>

</html>